{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
    {% block head_list %}{% endblock %}
{% endblock %}

{% block content %}
<div class="fb-card {{ dashboard.card }}">
    <div class="fb-card__header card-header flex items-center justify-between">
        <h5 class="card-title mb-0 flex items-center gap-2">
            <i class="fas fa-search text-indigo-500"></i>
            <span>{{ title }}</span>
        </h5>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            {% block content_list %}
                {% block content_list_before %}<div class="mb-3"></div>{% endblock %}
                <div class="table-responsive">
                    <table style="width:100%;" class="table table-bordered fb-table" id="data">
                        <thead>
                        <tr>
                            {% block columns %}{% endblock %}
                        </tr>
                        </thead>
                        <tbody>
                        {% block rows %}{% endblock %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
        </div>
    </div>
    {% block box_footer %}
    <div class="fb-card__footer card-footer flex items-center gap-2">
        {% block box_footer_buttons %}
            {% if create_url %}
                <a href="{{ create_url }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus mr-1"></i> Nuevo Registro
                </a>
            {% endif %}
            {% block box_footer_add_button %}{% endblock %}
            <a href="{{ list_url }}" class="btn btn-success btn-sm">
                <i class="fas fa-sync-alt mr-1"></i> Actualizar
            </a>
        {% endblock %}
    </div>
    {% endblock %}
    {% block box_footer_after %}{% endblock %}
</div>
{% block javascript_list %}
    <script type="application/javascript">
        var table;
        $(function () {
            table = $('#data').DataTable({
                autoWidth: false,
                destroy: true,
                initComplete: function (settings, json) {
                    $(this).wrap('<div class="dataTables_scroll"></div>');
                }
            });

            $('.table')
                .on('draw.dt', function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
                .on('click', 'img', function () {
                    var src = $(this).attr('src');
                    load_image(src);
                });
        });
    </script>
{% endblock %}
{% endblock %}
